<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="base_header(title,Links)">
<meta charset="UTF-8">
<title
	th:text="${title==null}? 'TechSShare EC Site' : ${title}+ ' | TechShare EC Site'">TechShare</title>

<!-- <th:block th:replace="${Links}" /> -->

</head>

<header th:fragment="header">
	<div id="header">
		<p>
			<a th:href="@{/}">ECSite</a>
		</p>
	</div>

	<div>
		<form th:action="@{/cart}" method="get">
			<input type="submit" value="カートを見る">
		</form>
	</div>
	<div sec:authorize="isAuthenticated()" class="clearfix">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="ログアウト" />
		</form>
	</div>
	<div sec:authorize="isAnonymous()" class="clearifx">
		<form th:action="@{/signin}" method="get">
			<input type="submit" value="ログイン" />
		</form>
	</div>


</header>
<div id="classTItle" th:fragment="classTitle(pageTitle)">
	<h2 th:text="${pageTitle==null}? 'PageTitle' : ${pageTitle}"></h2>
</div>

<footer th:fragment="footer">
	<p id="shopTitle">
		<a th:href="@{/}">ECSite</a>
	</p>
</footer>

<body>


</body>
</html>